Abigail Cabunoc Mayes <abigail.cabunoc@gmail.com>
Abigail Cabunoc Mayes <abigail.cabunoc@gmail.com> <abigail.cabunoc@oicr.on.ca>
Alois Heilmaier <a.heilmaier@hotmail.com>
Andrew Rohl <a.rohl@curtin.edu.au>
Andy Boughton <abought@gmail.com> <pchemist@gmail.com>
Ariel Rokem <arokem@gmail.com>
Bennet Fauber <justbennet@users.noreply.github.com>
Bérénice Batut <berenice.batut@gmail.com>
Bérénice Batut <berenice.batut@gmail.com> <berenice.batut@udamail.fr>
Bernhard Konrad <bernhard.konrad@gmail.com>
Bill Mills <mills.wj@gmail.com>
Brenna O'Brien <info@brennaobrien.com>
Chris Pawsey <chris.bording@pawsey.org.au>
Daisie Huang <daisieh@gmail.com>
Danielle Traphagen <dtrapezoid@gmail.com>
Dorota Jarecka <djarecka@gmail.com>
Emily Dolson <emilyldolson@gmail.com>
Emmanouil Farsarakis <farsarakis@gmail.com> <farsarakis@epcc.ed.ac.uk>
Evan P. Williamson <evanpeterw@gmail.com>
François Michonneau <francois.michonneau@gmail.com>
François Michonneau <francois.michonneau@gmail.com> <francois.michonneau@gmail.Com>
Greg Watson <g.watson@computer.org>
Greg Wilson <gvwilson@software-carpentry.org> <gvwilson@third-bit.com>
Ivan Gonzalez <iglpdc@gmail.com> <iglpdc@users.noreply.github.com>
James Allen <james@sharelatex.com> <jamesallen0108@gmail.com>
Jane Charlesworth <janepipistrelle@gmail.com>
Kate Hertweck <k8hertweck@gmail.com>
Kate Lee <kl167@le.ac.uk>
Luke W. Johnston <lwjohnst@gmail.com>
Marisa Guarinello <mguarinello@gmail.com>
Mark Wheelhouse <mjw03@doc.ic.ac.uk>
Mateusz Kuzak <mateusz.kuzak@gmail.com>
Matthias Haeni <datamat@users.noreply.github.com>
Michael Panitz <michpa@hotmail.com>
Mike Jackson <m.jackson@software.ac.uk> <michaelj@epcc.ed.ac.uk>
Natalie Robinson <n.robinson@colorado.edu>
Nicholas Hannah <nchlshnnh@gmail.com> <nicholash@users.noreply.github.com>
Nicola Soranzo <nicola.soranzo@tgac.ac.uk> <nsoranzo@tiscali.it>
Patrick C. Shriwise <shriwise@wisc.edu>
Pauline Barmby <pbarmby@uwo.ca>
Peter Steinbach <steinbac@mpi-cbg.de> <steinbach@scionics.de>
Raniere Silva <raniere@rgaiacs.com> <ra092767@ime.unicamp.br>
Raniere Silva <raniere@rgaiacs.com> <raniere@ime.unicamp.br>
Rémi Emonet <remi@heeere.com> <remi.emonet@reverse--com.heeere>
Rémi Emonet <remi@heeere.com> <twitwi@users.noreply.github.com>
Sean Aubin <saubin@uwaterloo.ca>
Steve Vandervalk <steven.vandervalk@jcu.edu.au> <stevenvandervalk@users.noreply.github.com>
Tiffany Timbers <tiffany.timbers@gmail.com>
Timothée Poisot <t.poisot@gmail.com> <tim@poisotlab.io>
Tom Kelly <tomkellygenetics@gmail.com>
Yuandra Ismiraldi <me@yuandraismiraldi.net>
