<p><img alt="Piled Higher and Deeper by Jorge Cham, http://www.phdcomics.com/comics/archive_print.php?comicid=1531" src="{{ site.root }}/fig/phd101212s.gif" /></p>
<hr/>
<p><img alt="Changes are saved sequentially" src="{{ site.root }}/fig/play-changes.svg" /></p>
<hr/>
<p><img alt="Different versions can be saved" src="{{ site.root }}/fig/versions.svg" /></p>
<hr/>
<p><img alt="Multiple versions can be merged" src="{{ site.root }}/fig/merge.svg" /></p>
<hr/>
<p><img alt="The Git Staging Area" src="{{ site.root }}/fig/git-staging-area.svg" /></p>
<hr/>
<p><img alt="The Git Commit Workflow" src="{{ site.root }}/fig/git-committing.svg" /></p>
<hr/>
<p><img alt="Git Checkout" src="{{ site.root }}/fig/git-checkout.svg" /></p>
<hr/>
<p><img alt="http://figshare.com/articles/How_Git_works_a_cartoon/1328266" src="{{ site.root }}/fig/git_staging.svg" /></p>
<hr/>
<p><img alt="Creating a Repository on GitHub (Step 1)" src="{{ site.root }}/fig/github-create-repo-01.png" /></p>
<hr/>
<p><img alt="Creating a Repository on GitHub (Step 2)" src="{{ site.root }}/fig/github-create-repo-02.png" /></p>
<hr/>
<p><img alt="Creating a Repository on GitHub (Step 3)" src="{{ site.root }}/fig/github-create-repo-03.png" /></p>
<hr/>
<p><img alt="Freshly-Made GitHub Repository" src="{{ site.root }}/fig/git-freshly-made-github-repo.svg" /></p>
<hr/>
<p><img alt="Where to Find Repository URL on GitHub" src="{{ site.root }}/fig/github-find-repo-string.png" /></p>
<hr/>
<p><img alt="Changing the Repository URL on GitHub" src="{{ site.root }}/fig/github-change-repo-string.png" /></p>
<hr/>
<p><img alt="GitHub Repository After First Push" src="{{ site.root }}/fig/github-repo-after-first-push.svg" /></p>
<hr/>
<p><img alt="Adding collaborators on GitHub" src="{{ site.root }}/fig/github-add-collaborators.png" /></p>
<hr/>
<p><img alt="After Creating Clone of Repository" src="{{ site.root }}/fig/github-collaboration.svg" /></p>
<hr/>
<p><img alt="The conflicting changes" src="{{ site.root }}/fig/conflict.svg" /></p>
<hr/>
<p><img alt="" src="{{ site.root }}/fig/RStudio_screenshot_newproject.png" /></p>
<hr/>
<p><img alt="" src="{{ site.root }}/fig/RStudio_screenshot_existingdirectory.png" /></p>
<hr/>
<p><img alt="" src="{{ site.root }}/fig/RStudio_screenshot_navigateexisting.png" /></p>
<hr/>
<p><img alt="" src="{{ site.root }}/fig/RStudio_screenshot_afterclone.png" /></p>
<hr/>
<p><img alt="" src="{{ site.root }}/fig/RStudio_screenshot_editfiles.png" /></p>
<hr/>
<p><img alt="" src="{{ site.root }}/fig/RStudio_screenshot_commit.png" /></p>
<hr/>
<p><img alt="" src="{{ site.root }}/fig/RStudio_screenshot_review.png" /></p>
<hr/>
<p><img alt="" src="{{ site.root }}/fig/RStudio_screenshot_history.png" /></p>
<hr/>
<p><img alt="" src="{{ site.root }}/fig/RStudio_screenshot_viewhistory.png" /></p>
<hr/>
<p><img alt="" src="{{ site.root }}/fig/RStudio_screenshot_gitignore.png" /></p>
